servers:
- tenant_id: {{ .tenant_id }}
  id: mtls2
  name: MTLS 2
  profile: default
  initialize: true
  root_cas: |
    -----BEGIN CERTIFICATE-----
    MIIDfjCCAmagAwIBAgIUHOLlcMhX8uJyFafYYNXYBMBJr2swDQYJKoZIhvcNAQEL
    BQAwVzELMAkGA1UEBhMCVVMxEzARBgNVBAgTCldhc2hpbmd0b24xEDAOBgNVBAcT
    B1NlYXR0bGUxFDASBgNVBAoTC0Nsb3VkZW50aXR5MQswCQYDVQQLEwJDQTAeFw0y
    MTAxMjAwOTQ4MDBaFw0yNjAxMTkwOTQ4MDBaMFcxCzAJBgNVBAYTAlVTMRMwEQYD
    VQQIEwpXYXNoaW5ndG9uMRAwDgYDVQQHEwdTZWF0dGxlMRQwEgYDVQQKEwtDbG91
    ZGVudGl0eTELMAkGA1UECxMCQ0EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
    AoIBAQDKJroMoumr9jY129z7uf0WrvMxmzexP72ogINlQlM/p910YfnLYSWOUEIH
    kQ5eyq3ATuesPzamNxjq4JkafopsMBeieCeVzir4VTmsxLxbBZG2GjdsGpyXmrXb
    LXTb5dgNcolYh6LLPb11cBeb9TAy2D97Vx4t1Hr2SeLG1VvkNyNnoog6tZdmJUis
    ufW9GOyXgiAv46rtgvvpzYn+LbE7oiXlQHICHNpeTh7140HG7eWMPubINuilGZBY
    W80IGTpGUf2Vmuwo2LA17z5/3IB0dqlY5eT321TYVoqH1TYZrMllSLc+2x750e+l
    E9sHil8QPptAS74UWUsq2PgIvyZbAgMBAAGjQjBAMA4GA1UdDwEB/wQEAwIBBjAP
    BgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBTKWQeEZBRJ/UO1Py7EfTaOqVujbTAN
    BgkqhkiG9w0BAQsFAAOCAQEAsg5ker9FPcq1u5E+y4Qq1yjUeuOT0kap+aIE1mp2
    LSQoEA+tb40s/iNmTMdvCGReeoRoVYKz66+3zGoFYg5W1c5Ct9whjiLhKP1Pzc4I
    JbPGklSrnnAwD72ypLF4yrTMTD65gTMsr2ao0MOe6vy/Z8R2uz48QJHhhi71VGhi
    FstSiWvb4AgNhN39Ag5ufLtrGCbuZw5TSeW0J7PTBoYV1Z/0jrsdqxk8MjnbR8Qe
    VyZGyIRnGkXUtC239/Lz0v0PXVwAPUF8ITb0JYcG/ojIc5VfTOkQOeOHHBaS+dXt
    HBJjBbnwpN4tNFhczJkbga16hL+vV0I4z61mJG8OkDr25Q==
    -----END CERTIFICATE-----
idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: mtls2
  id: bugkgai3g9kregtu04u0
  name: MTLS IDP
  method: static
  credentials:
    static:
      users:
      - username: user
        password: user
        authentication_context:
          name: user
          mobile_verified: "+48123456789"
clients:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: mtls2
  client_id: c79lsrgh5kre3dfd8xxx
  client_name: MTLS Sample Client
  client_secret: S4DYjFEowDmEKfwbXOtR-mqaHWuIae2Mt4i-6KimZYQ
  grant_types:
  - client_credentials
  - authorization_code
  scopes:
    - openid
  redirect_uris:
    - 'http://localhost:18888/callback'
  subject_type: public
  token_endpoint_auth_method: tls_client_auth
  token_endpoint_auth_signing_alg: none
  userinfo_signed_response_alg: none
  tls_client_certificate_bound_access_tokens: true
  tls_client_auth_san_dns: acp
  audience:
      - c79lsrgh5kre3dfd8xxx
gateways:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: mtls2
  id: c7o1sqmifi7nonh7xxxx
  client_id: c79lsrgh5kre3dfd8xxx
  name: pyron-mtls
  description: ''
  type: pyron
  create_and_bind_services_automatically: true
  token_exchange:
    enabled: false
    trusted_idp_ids: null
  token_exchange_client_id: null
gateway_api_groups:
- tenant_id: {{ .tenant_id }}
  server_id: mtls2
  gateway_id: c7o1sqmifi7nonh7xxxx
  service_id: mtls2-profile
  id: defaultgtwy
  name: 'api group mtls'
  apis:
    - api_type: rest
      method: POST
      path: /transfer
      graphql_schema: ''
    - api_type: rest
      method: GET
      path: /balance
      graphql_schema: ''
services:
- id: mtls2-profile
  tenant_id: {{ .tenant_id }}
  authorization_server_id: mtls2
  name: Profile
  description: ''
  with_specification: false
  apis:
    - tenant_id: {{ .tenant_id }}
      server_id: mtls2
      service_id: mtls2-profile
      id: cc5s6cmwp3idohjtcwh8r4urcpwsq4bom7dwkin9f7tgn5dbp3tsk
      position: 0
      method: GET
      path: /balance
      data_classifications: []
      can_have_policy: true
      graphql_schema: ''
      graphql_types: []
      api_type: rest
    - tenant_id: {{ .tenant_id }}
      server_id: mtls2
      service_id: mtls2-profile
      id: cc5s6cmwp3idohjtcwh8r4urcpwsq4bom7er6w4wmhzzehubp33sc3m1
      position: 1
      method: POST
      path: /transfer
      data_classifications: []
      policy_id: null
      can_have_policy: true
      graphql_schema: ''
      graphql_types: []
      api_type: rest